@(repositoryDetails: RepositoryDetails)

@main("Repository") {

<div class=".container-fluid">
    <div class="jumbotron jumbotron-fluid" style="margin:0px;">
        <h1 style="margin-left: 450px;">Repository Details</h1>
    </div>
</div>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
            @if(repositoryDetails.getIssues().size()>0) {
            <li><a href="/getRepositoryIssues/@repositoryDetails.getRepository().getOwner().getLogin()/@repositoryDetails.getRepository().getName()"><span class="glyphicon glyphicon-stats"></span> Issues Statistics </a></li>
            }
            <li><a href="/getCommitStats/@repositoryDetails.getRepository().getOwner().getLogin()/@repositoryDetails.getRepository().getName()"><span class="glyphicon glyphicon-stats"></span> Commits Statistics</a></li>
        </ul>
    </div>
</nav>
<div class="container">
<dl class="row">
    <dt class="col-sm-3"><h4>Repository name</h4></dt>
    <dd class="col-sm-9"><h4>@repositoryDetails.getRepository().getName()</h4></dd>

    <dt class="col-sm-3"><h4>Repository user</h4></dt>
    <dd class="col-sm-9"><h4>@repositoryDetails.getRepository().getOwner().getLogin()</h4></dd>

    <dt class="col-sm-3"><h4>Description</h4></dt>
    <dd class="col-sm-9"><h4>@repositoryDetails.getRepository().getDescription()</h4></dd>

    <dt class="col-sm-3"><h4>Repository URL</h4></dt>
    <dd class="col-sm-9"><h4><a href="@repositoryDetails.getRepository().getCloneUrl()">@repositoryDetails.getRepository().getCloneUrl()</a></h4></dd>

    <dt class="col-sm-3"><h4>Created At</h4></dt>
    <dd class="col-sm-9"><h4>@repositoryDetails.getRepository().getCreatedAt()</h4></dd>

    <dt class="col-sm-3 text-truncate"><h4>Updated At</h4></dt>
    <dd class="col-sm-9"><h4>@repositoryDetails.getRepository().getUpdatedAt()</h4></dd>

    <dt class="col-sm-3"><h4>Issues</h4></dt>
    <dd class="col-sm-9"><h4>@repositoryDetails.getRepository().getOpenIssues()</h4></dd>

    </dd>
</dl>
    <table border="1" class="table">
        <thead>
        <tr><th>Issue</th><th>Created At</th><th>State</th><th>URL</th>
        </thead>
        <tbody>
        @for(issue <- repositoryDetails.getIssues()) {
        <tr><td>@issue.getTitle()</td><td>@issue.getCreatedAt()</td><td>@issue.getState()</td><td><a href="@issue.getHtmlUrl()">@issue.getHtmlUrl()</a></td></tr>
        }
        </tbody>
    </table>
</div>



<hr/>

}
