@import com.fasterxml.jackson.databind.JsonNode
@import java.lang.String
@(request: play.mvc.Http.Request)(username: String, repositoryName: String, repositoryProfileDetails: JsonNode, issueList: JsonNode)(implicit assetsFinder: AssetsFinder)

@main("Repository Profile") {
<section id="top">
    <div class="wrapper">
        <h1>Gitterific</h1>
    </div>
</section>
<div style="margin-left: 5%; margin-right: 5%; margin-bottom: 1%; margin-top: 1%;">
    <div id="repository-info" style="padding: 10px 0px;">
        <h3>Repository Profile Data for: <b>@repositoryName</b></h3>
    </div>
<!--    <div id="repositories" style="padding: 10px 0px">-->
<!--        <p><b>List to top @issueList.size() issues: </b></p>-->
<!--    </div>-->
</div>
}