@(repositories: SearchedRepositoryDetails)

@main("Repository") {

<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <h3>Repositories from the Topic</h3>
    </div>
</div>

<div class="container">

    <table class="table">
        <thead>
        <tr><th>RepositoryName</th><th>User</th>
        </thead>
        <tbody>
        @for(repo <- repositories.getRepo()) {
        <tr><td><a href="/getRepositoryDetails/@repo.getOwner()/@repo.getName()">@repo.getName()</a></td><td><a href = "/getUserDetails/@repo.getOwner()">@repo.getOwner()</a></td></tr>
        }
        </tbody>
    </table>
</div>



<hr/>

}